# Ignore artifacts:
build
dist
coverage

node_modules

# Ignore all HTML files:
*.html

.github

.next

.swc

vite.config.ts
stats.html
.eslintcache
src/styles/color/color.variables.ts
scripts/genColorCss.ts
