.loginWrap {
  width: 100%;
  max-width: 420px;
  padding: 40px 20px;
  border-radius: 16px;
  box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.2);

  img {
    max-width: 100px;
    display: block;
    margin: 0 auto 32px;
  }
}
