:root {
  --white: #ffffff;
  --black: #000000;

  --primary-lighter: #ced9ff;
  --primary-light: #3d59a6;
  --primary-main: #203d99;
  --primary-dark: #122673;
  --primary-darker: #071955;

  --secondary-lightest: #fff7ed;
  --secondary-lighter: #ffb473;
  --secondary-light: #fa9548;
  --secondary-main: #e67817;
  --secondary-dark: #c75310;

  --neutral-white: #ffffff;
  --neutral-gray-2: #fafafa;
  --neutral-gray-3: #f5f5f5;
  --neutral-gray-4: #f0f0f0;
  --neutral-gray-5: #d9d9d9;
  --neutral-gray-6: #bfbfbf;
  --neutral-gray-7: #8c8c8c;
  --neutral-gray-8: #595959;
  --neutral-gray-9: #434343;
  --neutral-gray-10: #f9fafb;

  --success-background: #eafaeb;
  --success-hover: #92d1ae;
  --success-main: #099d5d;
  --success-active: #017848;

  --warning-background: #fff7ed;
  --warning-hover: #212b36;
  --warning-main: #e67817;
  --warning-active: #c75310;

  --error-background: #ffeae6;
  --error-hover: #ff7875;
  --error-main: #f41515;
  --error-active: #b00606;

  --link-1: #0066ff;
  --link-2: #3e7bfa;
  --link-3: #719efb;
  --link-4: #a9c4fc;
  --link-5: #d6e3ff;
}

.primary-lighter {
  color: var(--primary-lighter);
}
.primary-light {
  color: var(--primary-light);
}
.primary-main {
  color: var(--primary-main);
}
.primary-dark {
  color: var(--primary-dark);
}
.primary-darker {
  color: var(--primary-darker);
}

.secondary-lightest {
  color: var(--secondary-lightest);
}
.secondary-lighter {
  color: var(--secondary-lighter);
}
.secondary-light {
  color: var(--secondary-light);
}
.secondary-main {
  color: var(--secondary-main);
}
.secondary-dark {
  color: var(--secondary-dark);
}

.success-background {
  color: var(--success-background);
}
.success-hover {
  color: var(--success-hover);
}
.success-main {
  color: var(--success-main);
}
.success-active {
  color: var(--success-active);
}

.warning-background {
  color: var(--warning-background);
}
.warning-hover {
  color: var(--warning-hover);
}
.warning-main {
  color: var(--warning-main);
}
.warning-active {
  color: var(--error-active);
}

.error-background {
  color: var(--error-background);
}
.error-hover {
  color: var(--error-hover);
}
.error-main {
  color: var(--error-main);
}
.error-active {
  color: var(--error-active);
}

.neutral-white {
  color: var(--neutral-white);
}

.neutral-gray-2 {
  color: var(--neutral-gray-2);
}

.neutral-gray-3 {
  color: var(--neutral-gray-3);
}

.neutral-gray-4 {
  color: var(--neutral-gray-4);
}
.neutral-gray-5 {
  color: var(--neutral-gray-5);
}
.neutral-gray-6 {
  color: var(--neutral-gray-6);
}
.neutral-gray-7 {
  color: var(--neutral-gray-7);
}
.neutral-gray-8 {
  color: var(--neutral-gray-8);
}
.neutral-gray-9 {
  color: var(--neutral-gray-9);
}
.neutral-gray-10 {
  color: var(--neutral-gray-10);
}

.link-1 {
  color: var(--link-1);
}
.link-2 {
  color: var(--link-2);
}
.link-3 {
  color: var(--link-3);
}
.link-4 {
  color: var(--link-4);
}
.link-5 {
  color: var(--link-5);
}

.cwhite {
  color: var(--white);
}

.cblack {
  color: var(--black);
}

.bg-white {
  background-color: var(--white);
}

.link {
  color: var(--link-1);
}
