.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.mr-1 {
  margin-right: 1em;
}
.mr-1 {
  margin-right: 1em;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb-16 {
  margin: 0 0 16px;
}

.mb-20 {
  margin: 0 0 20px;
}
.mb-28 {
  margin: 0 0 28px;
}
.mb-32 {
  margin: 0 0 32px;
}
