.heading1-medium {
  font-weight: 500;
  font-size: 38px;
  line-height: 46px;
}
.heading2-medium {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
}
.heading3-bold {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.heading3-medium {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}
.heading3-regular {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.heading4-medium {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.heading5-bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.heading5-medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.heading5-regular {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.body-bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}

.body-medium {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.body-regular {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.body-underline {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.caption-regular {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
